# Nextjs
NEXT_PUBLIC_APP_NAME="Weather Forecast"
NEXT_PUBLIC_HOST=http://localhost:3000

# Open Meteo
OPEN_METEO_GEOCODING_URL=https://geocoding-api.open-meteo.com/v1/search
OPEN_METEO_API_URL=https://api.open-meteo.com
OPEN_METEO_AIR_QUALITY_API_URL=https://air-quality-api.open-meteo.com

# ArcGIS
ARCGIS_GEOCODING_API_URL=https://geocode-api.arcgis.com
ARCGIS_GEOCODING_API_KEY=ARCGIS_GEOCODING_API_KEY # Your ArcGIS API Key - https://developers.arcgis.com/
